UPLOADTHING_TOKEN='eyJ'
DATABASE_URL="postgresql://postgres:randompassword@localhost:5432/fileupload?schema=public"

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000